# Opcional: URI de MongoDB (por defecto: mongodb://localhost:27017/practice-project)
# MONGO_URI=mongodb://localhost:27017/practice-project

# Opcional: URL base del servicio breb / mock (por defecto: http://localhost:9112)
# Para mock en Node: no definir o http://localhost:9112
# Para breb-mock-api (segunda API): http://localhost:9112
# Para Postman Mock: la URL que te da Postman
# BREB_BASE_URL=http://localhost:9112


# /Users/juanbolanos/Downloads/mongodb-macos-aarch64--8.2.5/bin
# ./mongod --dbpath ~/mongodb/data